/* iPads and Tablets- portrait

@media screen and (max-width: 768px) {
  [aria-controls= "nav-list"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ {

  }
  
} */


@media screen and (max-width: 768px) {
  .nav-list {
    gap: 2em;
    
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .nav-list[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: fixed;
    display: block;
    background-color: transparent;
    border: 0;
    top: 2.8rem;  
    right: 2rem;
    z-index: 999;
    font-size: var(--size-30);
    text-shadow: var(--bright) 1px 0 10px;
    color: var(--white);
  }
  
  .bg-header { background-attachment: scroll; }
  
  .about-wrapper { flex-wrap: wrap; }

  .photo-grid { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

  .photo-gallery img { 
    max-width: 20rem;
    margin: 0 auto;
  }
  
  .testimonial-cards-container { gap: var(--size-50); }
  
  .testimonial-card { 
    font-size: var(--size-20);
    padding: var(--size-60);
  }

  .contact {
    flex-wrap: wrap; 
    gap: var(--size-25);
  }
}


