html { scroll-behavior: smooth; }

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--size-20);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

.navbar.sticky .container {
  background-color: #F8E3EB;
}

.navbar.sticky .list-item,
.navbar.sticky .logo {
  color: var(--dark);
}

.logo {
  font-size: var(--size-50);
  text-shadow: var(--bright) 1px 0 10px;
}

.nav-list { 
  display: flex; 
  background: hsl( 0 0% 0% / 0.5);
  padding: var(--size-25);
}

.mobile-nav-toggle { display: none; }

@supports ( backdrop-filter: blur(1rem)) {
  .nav-list {
    background: hsl( 0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.list-item { 
  padding: 0 var(--size-20); 
  letter-spacing: 2px;
  font-weight: 600;
}

.list-item:hover,
.logo:hover {
  color: var(--hover);
  transform: skew(-10deg);
}

.list-item:hover { text-decoration: underline; }

.shop-icon i { padding-left: var(--size-15); }

.bg-header {
  background-image: url(/images/salon-img.jpg);
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-attachment: fixed;
}

.bg-header:before {
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.about {
  background-color: var(--dark);
  text-align: center;
  padding: var(--size-60); 
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper p {
  padding: 0 var(--size-75) var(--size-20);
  font-size: var(--size-20);
}

.about-img { 
  max-width: 25rem; 
  padding: var(--size-20);
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us h2 { padding: var(--size-25); }

.btn:hover {
  color: var(--hover);
  background: #fff;
}

.services {
  text-align: center;
  background-color: #F5C98B;
}

.service-list {
  background-color: var(--light-blue);
  padding: var(--size-60);
}

.price-wrapper {
  display: flex;
  justify-content: center;
  letter-spacing: 0.3125rem;
  font-weight: 600;
}

.price-wrapper,
.disclaimer { 
  text-shadow: 1px 1px 2px pink;
  color: var(--dark);
}

.disclaimer { 
  font-size: var(--size-10);
  position: relative;
  top: var(--size-40);
}

.photo-gallery {
  text-align: center;
  background-color: #E6C5D4;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--size-10);
  padding: var(--size-60) 0;
}

.photo-gallery img {
  max-width: 28rem;
  height: 22rem;
  object-fit: cover;
}

.photo-gallery img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.testimonials { background-color: var(--light-blue); }

.testimonial-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: var(--white);
  max-width: 20rem;
  height: 100%;
  color: var(--dark);
  box-shadow: var(--bright) 0px 5px 15px;
  padding: var(--size-75);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}

.testimonial-card:hover {  
  border: 3px dotted #ff7a59;
  color: #ff7a59;
  background: #fff;
  cursor: pointer;
}

.testimonial-card .quote-left,
.testimonial-card .quote-right {
  font-size: var(--size-50);
  position: absolute;
} 

.testimonial-card .quote-left {
  top: 0;
  left: 20px;
}

.testimonial-card .quote-right {
  bottom: 0;
  right: 20px;
}

.featured-card { font-size: var(--size-25); }

.footer {  background-color: #B9EDB9; }

.container.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact p, .social-icon { color: var(--dark); }
.contact-info { display: flex; }
.contact-info p { margin-right: var(--size-10); }

.contact-info a i { 
  margin: 0 var(--size-20);
  font-size: var(--size-25); 
}

.contact-info a i:hover { color: var(--hover); }
.container.contact img { max-width: 30rem; }

