.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--size-20);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

.logo {
  font-family: 'Cinzel', serif;
  font-size: var(--size-30);
}

.nav-list { display: flex; }

.list-item { 
  padding: 0 var(--size-20); 
  letter-spacing: 2px;
}

.list-item:hover,
.logo:hover {
  color: var(--hover);
  transform: skew(-10deg);
}

.logo:hover {
  transform: skew(-10deg);
}

.shop-icon i {
  padding-left: var(--size-15);
}

.bg-header {
  background-image: url(/images/salon-img.jpg);
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 1;
  padding: 20.5rem;
  min-height: 100vh;
  background-attachment: fixed;
}

.bg-header:before {
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.about {
  background-color: var(--about-bg);
  height: 100vh;
  padding-top: var(--size-100);
  text-align: center;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--size-40);
}

.about-wrapper p {
  padding: 0 var(--size-75);
  font-size: var(--size-20);
}

.about-img { max-width: 25rem; }

about-us h2 { font-family: 'Cinzel'; }

.btn:hover {
  color: var(--hover);
  background: #fff;
}

.services {
  background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
  height: 100%;
  padding-top: var(--size-40);
  
}

.services h2 { 
  text-align: center;
  margin: 0; 
}

.service-list {
  padding-top: var(--size-30);
}
