html { scroll-behavior: smooth; }

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--size-20);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;

}

.navbar.sticky {
  background-color: var(--white);
}

.navbar.sticky .nav-list,
.navbar.sticky .logo {
  color: var(--dark);
}

.logo {
  font-size: var(--size-50);
  text-shadow: var(--bright) 1px 0 10px;
}

.nav-list { display: flex; }

.list-item { 
  padding: 0 var(--size-20); 
  letter-spacing: 2px;
}

.list-item:hover,
.logo:hover {
  color: var(--hover);
  transform: skew(-10deg);
}

.list-item:hover { text-decoration: underline; }

.shop-icon i { padding-left: var(--size-15); }

.bg-header {
  background-image: url(/images/salon-img.jpg);
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 1;
  padding: 20.5rem;
  min-height: 100vh;
  background-attachment: fixed;
}

.bg-header:before {
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section.about {
  background-color: var(--dark);
  height: 100vh;
  padding-top: var(--size-100);
  text-align: center;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--size-40);
}

.about-wrapper p {
  padding: 0 var(--size-75) var(--size-20);
  font-size: var(--size-20);
}

.about-img { 
  max-width: 25rem; 
  padding: var(--size-20);
}

about-us h2 { 
  text-shadow: var(--bright) 1px 0 10px;
}

.btn:hover {
  color: var(--hover);
  background: #fff;
}

.services {
  height: 100vh;
  padding-top: var(--size-40);
  color: var(--dark);
  text-align: center;
  background-color: #F5C98B;
}

.service-list {
  background-color: var(--light-blue);
  margin-top: var(--size-60);
  padding: var(--size-100);
}

.price-wrapper {
  display: flex;
  justify-content: center;
  letter-spacing: 0.3125rem;
}

.disclaimer { 
  font-size: var(--size-10);
  position: relative;
  top: var(--size-100);
}

.photo-gallery {
  text-align: center;
  background-color: #E6C5D4;
  padding: var(--size-40);
}

.photo-gallery h2 {
  font-size: var(--size-40);
  text-shadow: var(--bright) 1px 0 10px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--size-10);
  padding: var(--size-60) 0;
}

.photo-gallery img {
  max-width: 28rem;
  height: 22rem;
  object-fit: cover;
}
